*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    font-family: sans-serif;
    background-image: url(https://img.freepik.com/free-photo/studio-background-concept-dark-gradient-purple-studio-room-background-product_1258-53155.jpg?t=st=1647363952~exp=1647364552~hmac=18703048cf5507516b1ff0dc49d53f256b4a726202467d0463d5bdf6ed0dde8d&w=826);
    background-size: 200%;


}
.download-btn {
    display: block;
    background-color: rgb(130, 27, 241);
    color: aliceblue;
    padding: 2%;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    width: 35%;
    min-width: 10px;
    height: auto;
    text-align: center;
    border-radius: 6%;
    font-size: 200%;
    user-select: none;
    


}


.download-btn:hover {
    background: linear-gradient(rgb(173, 53, 206), rgb(192, 61, 209))
}

.downloadoOurAppNow {
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 170%;
    font-weight: bold;
    user-select: none;
    
}

#text {
    
    margin-bottom: 7%;
    margin-top: 3%;
    
}

.text{
    display: -moz-box; /* Firefox*/
    display: -webkit-box; /* Chrome */
    display: -ms-flexbox; /* IE 10 */
    display: flexbox;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 200%;
    color:rgb(255, 255, 255);
    line-height: 160%;
    user-select: none;
    

}

#social-box{
    
    width: 10%;
    display: flex;
    justify-content: center;

}

.mysocial {
    -webkit-box-ordinal-group: 1; /* iOS 6-, Safari, Opera*/
    -moz-box-ordinal-group: 1; /* Firefox*/
    -ms-flex-order: 1; /* IE 10 */
    -webkit-order: 1; /* Chrome */
    width: 120%;
    padding: 6%;
    margin-top: 20%;
    user-select: none;
}

#social-box img:hover {
    transform: translateY(-15%);
    transition:0.3s;

}


#copywrite {
    margin-top: 15%;
    font-size: 130%;
    color: white;
}

@media all and (min-width:100px) {
    
    #social-box img{
        width: 50px;
        
    }
    
    .text{
        font-size: 180%;
    }

    .download-btn{
        font-size: 40px;  
        
    }

    .downloadoOurAppNow{
        
        font-size: 20px;
    }

    #contain-copywrite{
        font-size: 15px;
        margin-bottom: 18px;
        
    }
    

}
